

.container{
   display: flex;
   background-color:rgb(21, 27, 27);
   color: aliceblue;
   width: 100%;
}
.innercontainer{
   margin-left: 5%;
 }

.vehiclecontainer{
    display: grid;
    width: 1150px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid rgba(0, 0, 0, 0.555);
    grid-template-columns: 500px  500px 500px ;
    padding: 5%;

 }
 .vehiclecontaineritem{
    width: 150px;
 }

 select{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: aliceblue;
 }

 option{
    background-color: rgba(0, 0, 0, 0.555);
    color: aliceblue;
 }
 .action-btn{
    display: block;
   
}