.container{
  display: flex;
  background-color:rgb(21, 27, 27);
  color: aliceblue;
  width: 100%;
}
.innercontainer{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

table{
  margin-top: 5%;
  border-collapse: collapse;
}
th{
  text-align: left;
  padding: 8px;
  border:1px solid grey;
  background-color: grey;
 

}
td{
  background-color: aliceblue;
  color: black;
}

button{
  background-color: black;
 height: 30px;
 color: aliceblue;
}

.nonedisplay{
  display: none;
}